#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {

    keymap {
        zmk,kscan = &kscan0;
        compatible = "zmk,keymap";

        base_layer {
            bindings = <
                &kp Q     &mo 1
                &EXT_POWER EP_ON     &EXT_POWER EP_OFF
           >;
        };
        bt_layer {
            bindings = <
                &bootloader     &none
                &bt BT_SEL 0     &bt BT_CLR

            >;
        };

    };
};
